
$boxes-color: linear-gradient(to right, #AF00A8, #370435);
$test-color: linear-gradient(to bottom, #5E07A3, #370435);



$primary-normal: #111111;
$primary-light: #2d2c2c;
$primary-tertiary: #111111;

$secondary-normal: #100d13;
$secondary-light: #1f1a25;

$white-normal: #ffffff;
$white-light: #fefbffde;
$whitebg: #EEEEEE;

$purple-primary: #AF00A8;
$purple-secondary: #5C0459;
$purple-tertiary: #5E07A3;
$purple-quaternary: #980792;
$purple-quinary: #800799;
