$boxes-color: linear-gradient(to right, #af00a8, #370435);
$test-color: linear-gradient(to bottom, #5e07a3, #370435);

$primary-normal: #111111;
$primary-light: #2d2c2c;
$primary-tertiary: #111111;

$secondary-normal: #100d13;
$secondary-light: #1f1a25;

$white-normal: #ffffff;
$white-light: #fefbffde;
$whitebg: #eeeeee;

$purple-primary: #af00a8;
$purple-secondary: #5c0459;
$purple-tertiary: #5e07a3;
$purple-quaternary: #980792;
$purple-quinary: #800799;

$grey: #d9d9d9;
